<h1>Create a New Post!</h1>

<%= form_tag "/blogs", method: :post do %>
<p>Title</p>
  <input type="text" name="title">
<p>Post</p>
  <input type="text" name="contents" style="width: 300px; height: 300px;">

  <button>Submit</button>
<% end %>
